<app-nav></app-nav>
<div>
  <div style="width: 100%; display: flex; justify-content: center">
    <div style="width: 40%">
      <mat-form-field
        class="col-2"
        appearance="fill"
        style="padding-right: 10px; width: 100%"
      >
        <mat-label>Filtro de usuarios</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" #input />
        <mat-icon matSuffix><span class="fi-rr-search"></span></mat-icon>
      </mat-form-field>
    </div>

    <div class="div-button" style="width: 40%">
      <button mat-icon-button (click)="createUser()">Crear Usuario</button>
    </div>
  </div>
  <div class="div-table">
    <div class="mat-elevation-z1">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="updateUser(element)">
              Actualizar
            </button>

            <button
              style="background-color: red"
              mat-icon-button
              (click)="deleteUser(element)"
            >
              Eliminar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef>Apellidos</th>
          <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
        </ng-container>

        <ng-container matColumnDef="identificationType">
          <th mat-header-cell *matHeaderCellDef>Tipo de identificacion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.type_identification_id.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="identification">
          <th mat-header-cell *matHeaderCellDef>Número de identification</th>
          <td mat-cell *matCellDef="let element">
            {{ element.identification }}
          </td>
        </ng-container>

        <ng-container matColumnDef="birth_date">
          <th mat-header-cell *matHeaderCellDef>Fecha de cumpleaños</th>
          <td mat-cell *matCellDef="let element">{{ element.birth_date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos para mostrar</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
